#footer {
  background-color: #000;
}
#footer .container .footer_left {
  width: 50%;
  padding-top: 71px;
  padding-bottom: 56px;
}
#footer .container .footer_left_img {
  margin-bottom: 63px;
}
#footer .container .footer_left_text .line {
  font-family: 'roboto';
  font-size: 12px;
  line-height: 22px;
  color: #D7D5FF;
  margin: 0 8px;
}
#footer .container .footer_left_text .copyright {
  font-family: 'oswald';
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: #999;
}
#footer .container .footer_left_text .copyright span {
  font-size: 11px;
  color: #fff;
}
#footer .container .footer_right {
  width: 50%;
  padding: 61px 0 51px;
}
#footer .container .footer_right .footer_feedback {
  text-align: right;
  margin-bottom: 70px;
}
#footer .container .footer_right .footer_feedback a {
  font-family: 'oswald';
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
#footer .container .footer_right .footer_feedback a:not(last-child) {
  margin-right: 20px;
}
#footer .container .footer_right .footer_social {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
#footer .container .footer_right .footer_social .platform {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(240, 242, 250, 0.33);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#footer .container .footer_right .footer_social .platform:not(last-child) {
  margin-right: 4px;
}
#footer .container .footer_right .footer_social .platform:hover {
  background-color: rgba(240, 242, 250, 0.1);
}
#footer .container .footer_right .footer_social .platform a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .container #logo {
  margin-top: 23px;
}
.nav {
  margin: 25px 0px 0 60px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.nav_list a {
  display: inline-block;
  margin: 0 20px;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.nav_list a:hover {
  color: #0057FF;
}
.nav_list a:first-child {
  margin-left: 0;
}
.nav_list a:last-child {
  margin-right: 0;
}
.nav_list a .nav_link {
  font-family: 'oswald';
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.nav_list a .nav_link:nth-child(3) {
  font-size: 13px;
}
.section-1 {
  padding-top: 171px;
  padding-bottom: 220px;
}
.section-1 .container {
  position: relative;
}
.section-1 .home {
  width: 45%;
}
.section-1 .home_heading {
  font-family: 'oswald';
  font-size: 56px;
  line-height: 66px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 4px;
}
.section-1 .home_main-text {
  font-family: 'roboto';
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  margin-top: 52px;
  margin-bottom: 17px;
}
.section-1 .home .samantha {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
}
.section-1 .home .samantha .name {
  font-family: 'oswald';
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
.section-1 .home .samantha .stars img {
  margin-right: -5px;
}
.section-1 .home_btn {
  background-color: #FFA332;
  margin-top: 40px;
}
.section-1 .home_btn:hover {
  color: #fff;
  background-color: #63c77b;
}
.section-1 .home_img {
  position: absolute;
  top: -119px;
  right: -161px;
  z-index: -1;
}
.section-2 {
  text-align: center;
  padding-bottom: 40px;
}
.section-2 .container {
  position: relative;
}
.section-2 .container .blue_text {
  font-size: 11px;
  margin-bottom: 4px;
}
.section-2 .container .caption {
  font-size: 48px;
  margin-bottom: 39px;
  padding: 0 260px;
}
.section-2 .container .text_fill {
  margin-bottom: 77px;
  padding: 0 254px;
}
.section-2 .container .big_blonde {
  width: 100%;
}
.section-2 .container .bg.grey {
  top: 320px;
  left: -20px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.section-2 .container .bg.orange {
  top: 620px;
  right: -20px;
}
.section-3 .container .blue_text {
  color: #000;
  text-align: center;
}
.section-3 .container .about_left {
  width: 50%;
  margin-top: 385px;
}
.section-3 .container .about_left > .caption {
  margin-bottom: 48px;
  text-align: left;
}
.section-3 .container .about_left > .text_fill {
  margin-bottom: 37px;
  text-align: left;
  font-size: 15px;
}
.section-3 .container .about_left .block {
  width: 50%;
  text-align: left;
  padding-right: 102px;
}
.section-3 .container .about_left .block img {
  margin-bottom: 18px;
}
.section-3 .container .about_left .block .caption {
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0;
  margin-bottom: 16px;
}
.section-3 .container .about_left .block .text_fill {
  font-size: 14px;
  text-align: left;
}
.section-3 .container .about_left .block.right {
  margin-left: -10px;
}
.section-3 .container .about_left .btn {
  margin-top: 30px;
}
.section-3 .container .about_right {
  width: 50%;
  padding-left: 60px;
  margin-top: 201px;
}
.section-3 .container .about_right .contact_us {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 28px rgba(83, 83, 83, 0.15);
          box-shadow: 0px 8px 28px rgba(83, 83, 83, 0.15);
  border-radius: 15px;
  position: relative;
}
.section-3 .container .about_right .contact_us_text {
  text-align: center;
  padding: 57px 40px 55px;
}
.section-3 .container .about_right .contact_us_text .caption {
  font-size: 29px;
  line-height: 40px;
  letter-spacing: 0;
}
.section-3 .container .about_right .contact_us_text .text_fill {
  margin-top: 26px;
  margin-bottom: 17px;
}
.section-3 .container .about_right .contact_us_text .d-f {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-3 .container .about_right .contact_us_text .d-f .filling {
  width: 47.39%;
}
.section-3 .container .about_right .contact_us_text .filling {
  background: #F8F8F8;
  border: 1px solid #E7E7E7;
  border-radius: 6px;
  padding: 22.5px 26px;
  font-family: 'roboto';
  font-size: 15px;
}
.section-3 .container .about_right .contact_us_text .filling:nth-child(4) {
  width: 100%;
  margin: 32px 0 32px;
}
.section-3 .container .about_right .contact_us_text .filling:nth-child(5) {
  width: 100%;
  margin-bottom: 42px;
  padding-bottom: 25.5px;
}
.section-3 .container .about_right .contact_us_text .filling:focus {
  outline: none;
}
.section-3 .container .about_right .contact_us_text .filling::-webkit-input-placeholder {
  font-family: 'roboto';
  font-size: 15px;
}
.section-3 .container .about_right .contact_us_text .filling::-moz-placeholder {
  font-family: 'roboto';
  font-size: 15px;
}
.section-3 .container .about_right .contact_us_text .filling:-ms-input-placeholder {
  font-family: 'roboto';
  font-size: 15px;
}
.section-3 .container .about_right .contact_us_text .filling::-ms-input-placeholder {
  font-family: 'roboto';
  font-size: 15px;
}
.section-3 .container .about_right .contact_us_text .filling::placeholder {
  font-family: 'roboto';
  font-size: 15px;
}
.section-3 .container .about_right .contact_us_text .btn {
  width: 100%;
  height: 60px;
  font-family: 'roboto';
  font-size: 15px;
}
.section-3 .container .about_right .contact_us .bg.grey {
  top: 123px;
  left: -54px;
}
.section-3 .container .about_right .contact_us .bg.green {
  bottom: 98px;
  right: -60px;
}
.section-4 {
  padding-top: 245px;
  padding-bottom: 161px;
}
.section-4 .container {
  position: relative;
}
.section-4 .container .trust_img {
  width: 50%;
  padding-right: 60px;
  padding-top: 35px;
}
.section-4 .container .trust_img img {
  width: 100%;
}
.section-4 .container .trust_text {
  width: 50%;
  padding-left: 60px;
}
.section-4 .container .trust_text .caption {
  padding-right: 10px;
  text-align: left;
}
.section-4 .container .trust_text .text_fill {
  padding-right: 10px;
  margin-top: 48px;
  margin-bottom: 58px;
  text-align: left;
}
.section-4 .container .trust_text .question_list {
  border: 1px solid #E7E7E7;
  border-radius: 20px;
  margin-left: 20px;
  width: 100%;
  overflow: hidden;
}
.section-4 .container .trust_text .question_list .question {
  padding: 30px 32px 30px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 1;
  border-radius: 0;
}
.section-4 .container .trust_text .question_list .question:hover {
  background-color: #f1f1f1;
}
.section-4 .container .trust_text .question_list .question p {
  font-family: 'oswald';
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
}
.section-4 .container .bg {
  bottom: -59px;
  left: -54px;
}
.section-5 {
  padding-bottom: 230px;
}
.section-5 .pricing_left {
  width: 50%;
  padding-right: 60px;
}
.section-5 .pricing_left .text_fill {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  margin-top: 49px;
  margin-bottom: 16px;
}
.section-5 .pricing_left .stat {
  padding-top: 30px;
}
.section-5 .pricing_left .stat_text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
.section-5 .pricing_left .stat_text_name {
  font-family: 'oswald';
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  text-transform: uppercase;
  color: #000;
}
.section-5 .pricing_left .stat_text_percent {
  font-family: 'oswald';
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  text-transform: uppercase;
  color: #000;
}
.section-5 .pricing_left .stat .progres {
  height: 4px;
  width: 100%;
  margin-top: 10px;
  border-radius: 100px;
  background-color: #EBEBEB;
  position: relative;
  overflow: hidden;
}
.section-5 .pricing_left .stat .progres_percent {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 100px;
  background-color: #0057FF;
}
.section-5 .pricing_left .stat + .stat .progres_percent {
  background-color: #B861FF;
}
.section-5 .pricing_left .stat + .stat + .stat .progres_percent {
  background-color: #FF8E32;
}
.section-5 .pricing_right {
  width: 50%;
  padding-left: 60px;
}
.section-5 .pricing_right .ticket_price {
  -webkit-box-shadow: 0px 8px 28px rgba(83, 83, 83, 0.15);
          box-shadow: 0px 8px 28px rgba(83, 83, 83, 0.15);
  border-radius: 15px;
}
.section-5 .pricing_right .ticket_price_img {
  position: relative;
}
.section-5 .pricing_right .ticket_price_img p {
  font-family: 'oswald';
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section-5 .pricing_right .ticket_price_text {
  padding: 31px 0 40px;
  text-align: center;
}
.section-5 .pricing_right .ticket_price_text .caption {
  margin-bottom: 9px;
}
.section-5 .pricing_right .ticket_price_text .interval {
  font-family: 'oswald';
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 31px;
}
.section-5 .pricing_right .ticket_price_text .services {
  font-family: 'oswald';
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  list-style: none;
  text-align: left;
  padding-left: 109px;
  margin-bottom: 55px;
}
.section-5 .pricing_right .ticket_price_text .services .service + .service {
  margin-top: 18px;
}
.section-5 .pricing_right .ticket_price_text .btn {
  font-family: 'oswald';
  padding: 14px 40px;
  height: 52px;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}
.section-6 {
  overflow: hidden;
}
.section-6 .container {
  padding: 0 10px;
}
.section-6 .container #carousel {
  position: relative;
}
.section-6 .container #carousel .owl-stage-outer {
  overflow: visible;
  margin-bottom: 51px;
}
.section-6 .container #carousel .owl-stage-outer .item {
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  padding: 45px 47px 41px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-align: center;
}
.section-6 .container #carousel .owl-stage-outer .item.mouse_over,
.section-6 .container #carousel .owl-stage-outer .item:hover {
  background-color: #f0f0f0;
}
.section-6 .container #carousel .owl-stage-outer .item .text_fill {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 6px;
}
.section-6 .container #carousel .owl-stage-outer .item_img {
  display: inline-block;
  width: auto;
  margin-bottom: 20px;
}
.section-6 .container #carousel .owl-stage-outer .item_name {
  font-family: 'oswald';
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
.section-6 .container #carousel .owl-stage-outer .item_position {
  font-family: 'oswald';
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-6 .container #carousel .owl-stage-outer .item_stars {
  margin: auto;
  display: inline-block;
}
.section-6 .container #carousel .owl-stage-outer .item_stars .star {
  display: inline-block;
  width: auto;
}
.section-6 .container #carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 43%;
  left: -2.5%;
  width: calc(100% + 5%);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section-6 .container #carousel .owl-nav .owl-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  -webkit-box-shadow: 0px 11px 24px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 11px 24px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
  height: 48px;
  width: 48px;
}
.section-6 .container #carousel .owl-nav .owl-prev.disabled {
  visibility: hidden;
}
.section-6 .container #carousel .owl-nav .owl-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  -webkit-box-shadow: 0px 11px 24px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 11px 24px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
  height: 48px;
  width: 48px;
}
.section-6 .container #carousel .owl-nav .owl-next.disabled {
  visibility: hidden;
}
.section-6 .container #carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-6 .container #carousel .owl-dots .owl-dot {
  height: 8px;
  width: 8px;
  background-color: rgba(34, 34, 34, 0.4);
  border-radius: 50%;
  margin: 0 3px;
}
.section-6 .container #carousel .owl-dots .owl-dot.active {
  background-color: #222222;
}
.section-7 .container .top {
  background-image: url('../img/big_grey_triangle.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 217px 0 129px;
  text-align: center;
}
.section-7 .container .top .blue_text {
  margin-bottom: 23px;
}
.section-7 .container .top .text_fill {
  font-size: 24px;
  line-height: 34px;
  padding: 0 200px;
  margin-bottom: 37px;
}
.section-7 .container .bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  padding: 61px 13px;
}
.section-7 .container .bottom_img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-8 {
  text-align: center;
  padding: 99px 0 100px;
}
.section-8 .container {
  position: relative;
}
.section-8 .container > .blue_text {
  margin-bottom: 4px;
}
.section-8 .container > .caption {
  line-height: 48px;
  margin-bottom: 66px;
}
.section-8 .container .info_boxes .box_container {
  width: 50%;
  padding-right: 8px;
}
.section-8 .container .info_boxes .small_box {
  background-color: #FFFFFF;
  outline: 1px solid #D9DCEC;
  border-radius: 10px;
}
.section-8 .container .info_boxes .small_box:not(.small_box:last-child) {
  margin-bottom: 16px;
}
.section-8 .container .info_boxes .small_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 21px 21px 19px;
  text-align: left;
  text-decoration: none;
}
.section-8 .container .info_boxes .small_box a .small_box_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.section-8 .container .info_boxes .small_box a .small_box_text {
  width: 50%;
  padding-top: 20px;
}
.section-8 .container .info_boxes .small_box a .small_box_text .blue_text {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0;
}
.section-8 .container .info_boxes .small_box a .small_box_text .caption {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  padding-bottom: 24px;
}
.section-8 .container .info_boxes .small_box a .small_box_text .text_fill {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}
.section-8 .container .info_boxes .section-8_right {
  padding-left: 8px;
  width: 50%;
}
.section-8 .container .info_boxes .section-8_right .big_box {
  background-color: #FFFFFF;
  outline: 1px solid #D9DCEC;
  border-radius: 10px;
}
.section-8 .container .info_boxes .section-8_right .big_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 21px;
  width: 100%;
}
.section-8 .container .info_boxes .section-8_right .big_box a .big_box_container {
  width: 100%;
  height: 100%;
  position: relative;
}
.section-8 .container .info_boxes .section-8_right .big_box a .big_box_container .big_box_text {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0px 30px 35px;
  text-align: left;
}
.section-8 .container .info_boxes .section-8_right .big_box a .big_box_container .big_box_text .blue_text {
  margin-bottom: -5px;
  font-size: 11px;
  line-height: 20px;
}
.section-8 .container .green {
  top: 44px;
  left: -48px;
}
.section-8 .container .orange {
  bottom: 0;
  right: -225px;
}
