* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: auto;
}
#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .container #logo {
  margin-top: 23px;
}
.nav {
  margin: 25px 0px 0 60px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.nav_list a {
  display: inline-block;
  margin: 0 20px;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.nav_list a:hover {
  color: #0057FF;
}
.nav_list a:first-child {
  margin-left: 0;
}
.nav_list a:last-child {
  margin-right: 0;
}
.nav_list a .nav_link {
  font-family: 'oswald';
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.nav_list a .nav_link:nth-child(3) {
  font-size: 13px;
}
.purchase_btn {
  display: inline-block;
  height: 52px;
  background-color: #0057FF;
  border-radius: 30px;
  padding: 16px 40px;
  margin-top: 13px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-align: center;
  text-transform: uppercase;
  font-family: 'oswald';
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}
.purchase_btn:hover {
  background-color: #fff;
  color: #0057FF;
}
