@media (max-width: 1500px) {

    .section-2 {

        .container {

            .bg.grey {
                transform: translateX(0);
                z-index: -1;
            }
        }
    }
}

@media (max-width: 1350px) {

    .section-2 {

        .container {

            .bg.grey {
                left: 75px;
            }
        }
    }
    .section-4 {

        .container {

            .trust {

                &_img {
                    
                    img {

                        &:nth-child(2) {

                            left: 0;
                            transform: scale(0.8);
                        }
                    }
                }
            }
        }
    }
    .section-8 {

        .container {

            .bg.green {
                left: 15px;
            }
            .bg.orange {
                top: 0;
                right: 15px;
            }
        }
    }
}

@media (max-width: 1250px) {

    .container {
        padding: 0 15px;
    }
    .section-6 {

        .container {


            #carousel {

                .owl-nav {
                    width: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

// started adaptivity, added paddings to container
@media (max-width: 1200px) {
    
    .section-2 {

        .container {

            .blue_text {
                font-size: 9px;
                line-height: 17px;
            }
            .caption {
                padding: 0 20px;

                font-size: 37px;
                line-height: 39px;
            }
            .text_fill {
                padding: 0 20px;
                margin-bottom: 30px;

                font-size: 12px;
                line-height: 20px;
            }
            .bg.grey {
                top: 150px;
                left: 75px;
            }
            .bg.orange {
                bottom: -7%;
                // top: 460px;
            }
        }
    }
    .section-3 {

        .container {
    
            .blue_text {
                color: #000;
                text-align: center;
            }
    
            .about {
    
                &_left {
    
                    .block {
                        padding-right: 70px;
                    }
                    .block.right {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
    .section-4 {

        .container {

            .trust_text {

                .question_list {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 1150px) {

    .section-8 {

        .container {

            .info_boxes {

                .box_container {

                    .small_box {

                        a {

                            .small_box_img {

                            }
                            .small_box_text {
                                padding-top: 8px;

                                .blue_text {

                                }
                                .caption {
                                    margin-bottom: 12px;

                                }
                            }
                        }
                    }
                }
                .section-8_right {

                    .big_box {

                        a {

                            .big_box_img {

                            }
                            .big_box_text {
                                padding: 0px 46px 52px;

                                .blue_text {
                                    
                                }
                                .caption {

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {

    .section-1 {
        padding: 150px 0 180px;

        .home_img {
            transform: scale(0.8);
        }
    }
    .section-5 {

        .pricing {
            
            &_left {
                padding-right: 30px;
            }
            &_right {
                padding-left: 30px;
            }
        }
    }
}

@media (max-width: 1030px) {

    .section-8 {

        .container {

            .info_boxes {
                flex-direction: column;
                align-items: center;

                .box_container {
                    max-width: 600px;
                    width: auto;
                    padding: 0;

                    .small_box {

                        a {

                            .small_box_img {
                                padding-right: 20px;
                            }
                            .small_box_text {
                                padding-top: 8px;

                                .caption {
                                    margin-bottom: 12px;

                                }
                            }
                        }
                    }
                }
                .section-8_right {
                    max-width: 600px;
                    width: auto;
                    margin-top: 16px;
                    padding: 0;

                    .big_box {

                        a {

                            .big_box_text {
                                padding: 0px 46px 52px;
                            }
                        }
                    }
                }
            }
            .bg.green {
                transform: scale(0.8);
            }
            .bg.orange {
                transform: scale(0.8);
            }
        }
    }
}

@media (max-width: 1020px) {

    .section-1 {
        width: 100%;

        .home {
            width: 75%;
        }
        .home_img {
            visibility: hidden;
            opacity: 0;
        }
    }
    .section-2 {

        .container {

            .caption {
                padding: 0 150px;
            }
            .text_fill {
                padding: 0 150px;
            }
            .bg.grey {
                top: 190px;
                left: 75px;
                transform: scale(0.8);
            }
            .bg.orange {
                // top: 470px;
                transform: scale(0.8);
            }
        }
    }
    .section-3 {
        width: 100%;

        .container {

            .about {
                flex-direction: column;
    
                &_left {
                    width: 100%;
                    margin-top: 140px;
    
                    & > .caption {
                        padding-right: 240px;
                    }
                    & > .text_fill {
                        padding-right: 480px;
                    }
                    .block {
                        padding-right: 70px;
                    }
                    .block.right {
                        margin-left: 0px;
                    }
                }
    
                &_right {
                    width: 100%;
                    padding: 0 75px;
                    margin-top: 150px;
                }
            }
        }
    }
    .section-4 {

        .container {

            .trust {

                &_img {
                    width: 40%;
                    padding-right: 0;
                    display: flex;
                    align-items: center;
                }
                &_text {
                    width: 60%;
                    padding-left: 30px;
                }
            }
        }
    }
    .section-5 {
        padding-bottom: 180px;
    }
    .section-6 {

        .container {

            #carousel {

                .owl-stage-outer {

                    .owl-stage {

                        .item {
                            padding: 40px 42px 36px;
                        }
                    }
                }
                .owl-nav {
                    top: 36.5%;
                }
            }
        }
    }
    .section-7 {

        .container {

            .top {

                .text_fill {
                    padding: 0 100px;
                }
            }
            .bottom {
                flex-wrap: wrap;
                padding: 30px 0;

                &_img {
                    width: 33.33%;
                    justify-content: center;
                    padding: 5px;
                }
            }
        }
    }
}

@media (max-width: 990px) {

    .section-3 {

        .container {

            .about {
    
                &_left {
                    margin-top: 140px;
    
                    & > .caption {
                        padding-right: 200px;
                    }
                    & > .text_fill {
                        padding-right: 345px;
                    }
                    .block {
                        padding-right: 70px;
                    }
                    .block.right {
                        margin-left: 0px;
                    }
                }
    
                &_right {
                    width: 100%;
                    padding: 0 65px;
                    margin-top: 150px;
                }
            }
        }
    }
}

// started adaptivity to header
@media (max-width: 850px) {

    #header {

        .container {

            .nav {
                margin-left: 20px;
                flex-grow: 0;
                justify-content: center;

                a {
                    margin: 0 10px;
                    
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .section-1 {
        padding: 100px 0 120px;
    }
    .section-2 {

        .container {

            .caption {
                padding: 0 100px;
            }
            .text_fill {
                padding: 0 100px;
            }
            .bg.grey {
                top: 170px;
                left: 25px;
                transform: scale(0.65);
            }
            .bg.orange {
                right: -20px;
                transform: scale(0.65);
            }
        }
    }
    .section-3 {

        .container {

            .about {
    
                &_left {
                    margin-top: 100px;
    
                    & > .caption {
                        padding-right: 40%;
                    }
                    & > .text_fill {
                        padding-right: 40%;
                    }
                    .block {
                        padding-right: 70px;
                    }
                    .block.right {
                        margin-left: 0px;
                    }
                }
    
                &_right {
                    width: 100%;
                    padding: 0 65px;
                    margin-top: 120px;

                    .bg.grey {
                        transform: scale(0.75);
                    }
                    .bg.green {
                        transform: scale(0.75);
                    }
                }
            }
        }
    }
    .section-4 {
        padding-top: 100px;

        .container {

            .trust {
                flex-direction: column;
                align-items: center;

                &_img {
                    width: 70%;
                }
                &_text {
                    margin-top: 50px;
                    width: 80%;
                }
            }
        }
    }
    .section-5 {

        .pricing {
            flex-direction: column;
            align-items: center;
            
            &_left {
                width: 80%;
                margin-bottom: 50px;
                padding-right: 0;
            }
            &_right {
                width: 75%;
                padding-left: 0;
            }
        }
    }
    .section-7 {

        .container {

            .top {

                .text_fill {
                    padding: 0 50px;
                }
            }
        }
    }
    .section-8 {

        .container {

            .bg.green {
                transform: scale(0.65);
            }
            .bg.orange {
                right: 0;
                transform: scale(0.65);
            }
        }
    }
}

@media (max-width: 700px) {

    .btn {
        height: 40px;
        padding: 12px 30px;

        font-size: 11px;
        line-height: 15px;
    }
    .section-3 {

        .container {
            padding: 0 15px;

            .about {
    
                &_left {
    
                    & > .caption {
                        padding-right: 20%;
                    }
                    & > .text_fill {
                        padding-right: 25%;
                    }
                    .block {
                        padding-right: 30px;
                    }
                    .block.right {
                        margin-left: 0px;
                    }
                }

                &_right {
                    width: 100%;
                    padding: 0 15px;
    
                    .contact_us {

                        &_text {
                            padding: 35px 25px 40px;
    
                            .caption {
                                font-size: 29px;
                                line-height: 40px;
                                letter-spacing: 0;
                            }
    
                            .text_fill {
                                margin-top: 26px;
                                margin-bottom: 17px;
                            }
    
                            .d-f {
                                justify-content: space-between;
    
                                .filling {
                                    width: 47.39%;
                                }
                            }
    
                            .filling {
                                background: #F8F8F8;
                                border: 1px solid #E7E7E7;
                                border-radius: 6px;
                                padding: 22.5px 26px;
    
                                font-family: @rob;
                                font-size: 15px;
    
                                &:nth-child(4) {
                                    width: 100%;
                                    margin: 32px 0 32px;
                                }
    
                                &:nth-child(5) {
                                    width: 100%;
                                    margin-bottom: 42px;
                                    padding-bottom: 25.5px;
                                }
    
                                &:focus {
                                    outline: none;
                                }
    
                                &::placeholder {
                                    font-family: @rob;
                                    font-size: 15px;
                                }
                            }
    
                            .btn {
                                width: 100%;
                                height: 60px;
    
                                font-family: @rob;
                                font-size: 15px;
                            }
                        }
    
                        .bg.grey {
                            top: 13.61%;
                            left: -10%;
                        }
    
                        .bg.green {
                            bottom: 10.84%;
                            right: -11.11%;
                        }
                    }
                }
            }
        }
    }
}

// header nav visibility on logo hover
@media (max-width: 650px) {

    #header {

        .container {

            .logo_header {
    
                .click_nav {

                    visibility: visible;
                    opacity: 1;
                }
            }
            .nav {
                visibility: hidden;
                opacity: 0;
                display: block;

                position: absolute;
                top: 100%;
                left: 0px;
                z-index: 1;
                margin: 0;
                outline: 1px solid #d3d3d3;
                border-radius: 5px;
                overflow: hidden;

                animation-name: nav_slide_alter;
                animation-timing-function: linear;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;

                .nav_list {
                    display: block;
                    padding-left: 0;
                    margin-bottom: 0;

                    li {
                        margin: 0;
                        padding-right: 10px;
                        background-color: #fff;

                        &:hover {
                            background-color: rgb(238, 238, 238);
                        }
                        a {
                            width: 100%;
                            display: inline-block;
                            padding: 0 10px;
                        }
                    }
                }

                a {
                    margin: 0 10px;
                    
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .nav.hover {
                visibility: visible;
                opacity: 1;

                animation-name: nav_slide;
                animation-timing-function: linear;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }    
            .btn {
                margin-top: 19px;
            }
        }
    }
    .section-1 {

        .home {
            width: 100%;
        }
    }
    .section-2 {

        .container {

            .caption {
                padding: 0 60px;
            }
            .text_fill {
                padding: 0 60px;
            }
            .bg.grey {
                top: 190px;
                left: 0px;
                transform: scale(0.5);
            }
            .bg.orange {
                // top: 370px;
                bottom: -20%;
                transform: scale(0.5);
            }
        }
    }
    .section-4 {
        padding-top: 100px;

        .container {

            .trust {
                flex-direction: column;
                align-items: center;

                &_img {
                    width: 90%;

                    img {

                        &:nth-child(2) {

                            transform: scale(0.55);
                        }
                    }
                }
                &_text {
                    width: 100%;
                    padding-left: 0px;
                }
            }
        }
    }
    .section-5 {
        padding-bottom: 120px;

        .pricing {
            
            &_left {
                width: 100%;
            }
            &_right {
                width: 100%;
            }
        }
    }
    .section-7 {

        .container {

            .top {
                padding: 185px 0 100px;

                .text_fill {
                    padding: 0;
                }
            }
            .bottom {

                &_img {
                    width: 50%;
                }
            }
        }
    }
    .section-8 {

        .container {

            .bg.green {
                left: -10px;
                transform: scale(0.5);
            }
            .bg.orange {
                right: -30px;
                transform: scale(0.5);
            }
        }
    }
}

// footer
@media (max-width: 550px) {

    .section-8 {

        .container {

            .info_boxes {

                .box_container {

                    .small_box {

                        a {
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }
    #footer {

        .container {

            .footer {
                flex-direction: column-reverse;

                &_left {
                    width: 100%;

                    &_img {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 30px;
                    }

                    &_text {
                        justify-content: center;

                        .line {
                            display: block;
                        }
                        .copyright {
                            display: block;
                        }
                    }
                }
                &_right {
                    width: 100%;
                    padding: 40px 0 0;

                    .footer_feedback {
                        display: flex;
                        justify-content: center;

                        margin-bottom: 40px;
                    }
                    .footer_social {
                        justify-content: center;

                        .platform {

                            &:not(last-child) {
                                margin-right: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// decreasing text
@media (max-width: 500px) {

    .btn {
        height: 40px;
        padding: 12px 30px;

        font-size: 11px;
        line-height: 15px;
    }
    .section-1 {

        .home {
            
            &_heading {
                font-size: 42px;
                line-height: 49px;
            }
            &_main-text {
                font-size: 12px;
                line-height: 19px;
            }
            .samantha {

                .name {
                    font-size: 13px;
                    line-height: 21px;
                }
            }
        }
    }
    .section-2 {

        .container {

            .blue_text {
                font-size: 9px;
                line-height: 17px;
            }
            .caption {
                padding: 0 20px;

                font-size: 37px;
                line-height: 39px;
            }
            .text_fill {
                padding: 0 20px;
                margin-bottom: 30px;

                font-size: 12px;
                line-height: 20px;
            }
            .bg.grey {
                // top: 185px;
                top: 55%;
                left: 0px;
                transform: scale(0.25);
            }
            .bg.orange {
                // top: 290px;
                // top: 90%;
                right: -50px;
                transform: scale(0.25);
            }
        }
    }
    .section-3 {

        .container {
            padding: 0 15px;

            .about {
    
                // &_left {
    
                //     & > .caption {
                //         padding-right: 15%;

                //         font-size: 31px;
                //         line-height: 39px;
                //     }
                //     & > .text_fill {
                //         padding-right: 15%;

                //         font-size: 12px;
                //         line-height: 20px;
                //     }
                //     .block {
                //         padding-right: 20px;

                //         .caption {
                //             font-size: 19px;
                //             line-height: 28px;
                //         }
                //         .text_fill {
                //             font-size: 11px;
                //             line-height: 20px;
                //         }
                //     }
                // }
    
                &_right {
                    width: 100%;
                    padding: 0 5px;
    
                    .contact_us {

                        &_text {
                            text-align: center;
                            padding: 30px 15px 35px;
    
                            .caption {
                                font-size: 22px;
                                line-height: 31px;
                            }
    
                            .text_fill {
                                font-size: 12px;
                                line-height: 20px;
                            }
    
                            .d-f {
                                justify-content: space-between;
    
                                .filling {
                                    width: 47.39%;
                                }
                            }
    
                            .filling {
                                padding: 17px 20px;

                                font-size: 12px;
    
                                &:nth-child(4) {
                                    margin: 20px 0 20px;
                                }
                                &:nth-child(5) {
                                    margin-bottom: 20px;
                                    padding-bottom: 20px;
                                }
                                &::placeholder {
                                    font-size: 12px;
                                }
                            }
    
                            .btn {
                                height: 40px;
                                padding: 12px 30px;
                                margin-top: 0;

                                font-size: 11px;
                                line-height: 15px;
                            }
                        }
                        .bg.grey {
                            top: 10%;
                            left: -15%;
                            transform: scale(0.55);
                        }
                        .bg.green {
                            bottom: 6%;
                            right: -21%;
                            transform: scale(0.55);
                        }
                    }
                }
            }
        }
    }
    .section-4 {

        .container {

            .trust {
                flex-direction: column;
                align-items: center;

                &_img {
                    width: 90%;
                }
                &_text {
                    width: 100%;
                    padding-left: 0px;

                    .caption {
                        font-size: 31px;
                        line-height: 39px;
                    }
    
                    .text_fill {
                        font-size: 12px;
                        line-height: 20px;
                    }
    
                    .question_list {
                        margin-left: 0;
                        width: 100%;
                        overflow: hidden;
    
                        .question {
    
                            p {
                                font-size: 12px;
                                line-height: 22px;

                                margin: 15px 0px 15px 20px;
                            }
                            .dropdown-toggle {
                                margin: 15px 16px 15px 0px;

                                img {
                                    transform: scale(0.8);
                                }
                            }
                            .dropdown-menu {

                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-5 {
    
        .pricing {
    
            &_left {
    
                .caption {
                    font-size: 31px;
                    line-height: 39px;

                    padding-right: 0px;
                }
                .text_fill {
                    font-size: 11px;
                    line-height: 18px;
    
                    padding-right: 0px;
                    margin-top: 38px;
                    margin-bottom: 12px;
                }
                .stat {
                    padding-top: 20px;
    
                    &_text {
    
                        &_name,
                        &_percent {
                            font-size: 15px;
                            line-height: 23px;
                        }
                    }
                }
            }
    
            &_right {
    
                .ticket_price {
    
                    &_img {

                        p {
                            font-size: 15px;
                            line-height: 23px;
                        }
                    }
    
                    &_text {
                        padding: 24px 0 31px;
    
                        .caption {
                            margin-bottom: 8px;
                        }
                        .interval {
                            font-size: 11px;
                            line-height: 15px;
    
                            margin-bottom: 24px;
                        }
                        .services {
                            font-size: 9px;
                            line-height: 17px;
    
                            padding-left: 20.19%;
                            margin-bottom: 42px;
    
                            .service + .service {
                                margin-top: 14px;
                            }
                        }
                        .btn {
                            height: 40px;
                            padding: 12px 30px;
                    
                            font-size: 10px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
    .section-6 {

        .container {

            #carousel {

                .owl-stage-outer {

                    .owl-stage {

                        .item {
                            padding: 30px 32px 26px;

                            .text_fill {
                                font-size: 11px;
                                line-height: 18px;
                            }
                            &_name {
                                font-size: 15px;
                                line-height: 23px;
                            }
                            &_position {
                                font-size: 10px;
                                line-height: 18px;
                            }
                        }
                    }
                }
                .owl-nav {
                    top: 36.5%;

                    .owl-prev,
                    .owl-next {
                        height: 40px;
                        width: 40px;

                        img {
                            transform: scale(0.8333);
                        }
                    }
                }
            }
        }
    }
    .section-7 {

        .container {

            .top {
                background-size: contain;
                padding: 145px 0 95px;

                .blue_text {
                    font-size: 9px;
                    line-height: 17px;

                    margin-bottom: 10px;
                }
                .text_fill {
                    font-size: 14px;
                    line-height: 20px;

                    margin-bottom: 20px;
                }
            }
        }
    }
    .section-8 {
        padding: 75px 0 75px;

        .container {

            & > .blue_text {
                font-size: 9px;
                line-height: 17px;
            }
            & > .caption {
                font-size: 30px;
                line-height: 37px;
    
                margin-bottom: 66px;
            }
            .info_boxes {

                .box_container {

                    .small_box {

                        a {

                            .small_box_img {

                            }
                            .small_box_text {
                                padding-top: 5px;

                                .blue_text {
                                    font-size: 8px;
                                    line-height: 20px;
                                }
                                .caption {
                                    font-size: 15px;
                                    line-height: 23px;

                                    margin-bottom: 20px;
                                }
                                .text_fill {
                                    font-size: 10px;
                                    line-height: 18px;
                                }
                            }
                        }
                    }
                }
                .section-8_right {

                    .big_box {

                        a {

                            .big_box_text {
                                padding: 0px 46px 42px;

                                .blue_text {
                                    font-size: 8px;
                                    line-height: 15px;
                                }
                                .caption {
                                    font-size: 30px;
                                    line-height: 38px;
                                }
                            }
                        }
                    }
                }
            }
            .bg.green {
                top: 75px;
                transform: scale(0.25);
            }
            .bg.orange {
                top: -100px;
                right: -45px;
                transform: scale(0.25);
            }
        }
    }
    #footer {

        .container {

            .footer {
                flex-direction: column-reverse;

                &_left {
                    width: 100%;
                    padding: 45px 0 35px;

                    &_img {
                        margin-bottom: 40px;

                        a {
                            transform: scale(0.77);
                        }
                    }
                    &_text {

                        .line {
                            font-size: 9px;
                            line-height: 17px;
                        }
                        .copyright {
                            font-size: 9px;
                            line-height: 17px;

                            span {
                                font-size: 8px;
                            }
                        }
                    }
                }
                &_right {
                    width: 100%;
                    padding: 40px 0 0;

                    .footer_feedback {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin-bottom: 40px;

                        a {
                            font-size: 9px;
                            line-height: 17px;
                        }
                    }
                    .footer_social {
                        justify-content: center;

                        .platform {
                            transform: scale(0.77);

                            &:not(last-child) {
                                margin-right: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {

    .section-7 {

        .container {

            .top {
                padding: 105px 0 35px;
            }
        }
    }
    .section-8 {

        .container {

            .info_boxes {

                .box_container {

                    .small_box {

                        a {
                            padding: 10px;

                            .small_box_text {
                                padding-top: 0px;

                                .caption {
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
                .section-8_right {

                    .big_box {

                        a {
                            padding: 10px;

                            .big_box_text {
                                padding: 0px 36px 32px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {

    .section-2 {

        .container {

            .bg.grey {
                top: 65%;
                left: 0px;
                transform: scale(0.25);
            }
            .bg.orange {
                top: 80%;
                right: -50px;
                transform: scale(0.25);
            }
        }
    }
    .section-3 {

        .container {

            .about {
    
                &_left {
    
                    & > .caption {
                        padding-right: 15%;

                        font-size: 31px;
                        line-height: 39px;
                    }
                    & > .text_fill {
                        padding-right: 15%;

                        font-size: 12px;
                        line-height: 20px;
                    }
                    .d-f {
                        flex-direction: column;

                        .block {
                            width: 70%;
                            padding-right: 20px;

                            .caption {
                                font-size: 19px;
                                line-height: 28px;
                            }
                            .text_fill {
                                font-size: 11px;
                                line-height: 20px;
                            }
                        }
                    }
                }
    
                &_right {
                    width: 100%;
                    padding: 0 5px;
    
                    .contact_us {

                        &_text {
                            text-align: center;
                            padding: 30px 15px 35px;
    
                            .caption {
                                font-size: 22px;
                                line-height: 31px;
                            }
    
                            .text_fill {
                                font-size: 12px;
                                line-height: 20px;
                            }
    
                            .d-f {
                                justify-content: space-between;
    
                                .filling {
                                    width: 47.39%;
                                }
                            }
    
                            .filling {
                                padding: 17px 20px;

                                font-size: 12px;
    
                                &:nth-child(4) {
                                    margin: 25px 0 25px;
                                }
                                &:nth-child(5) {
                                    margin-bottom: 22px;
                                    padding-bottom: 20px;
                                }
                                &::placeholder {
                                    font-size: 12px;
                                }
                            }
                        }
                        .bg.grey {
                            transform: scale(0.55);
                        }
                        .bg.green {
                            transform: scale(0.55);
                        }
                    }
                }
            }
        }
    }
    .section-4 {

        .container {

            .trust {

                &_img {
                    
                    img {

                        &:nth-child(2) {

                            transform: scale(0.35);
                        }
                    }
                }
            }
        }
    }
    .section-7 {

        .container {

            .bottom {

                &_img {
                    transform: scale(0.75);
                }
            }
        }
    }
    .section-8 {

        .container {

            .info_boxes {

                .box_container {

                    .small_box {

                        a {
                            padding: 10px;

                            .small_box_img {
                                padding-right: 10px;
                            }
                            .small_box_text {
                                padding-top: 0px;

                                .blue_text {
                                    font-size: 8px;
                                    line-height: 20px;
                                }
                                .caption {
                                    font-size: 15px;
                                    line-height: 23px;

                                    margin-bottom: 5px;
                                }
                                .text_fill {
                                    font-size: 10px;
                                    line-height: 18px;
                                }
                            }
                        }
                    }
                }
                .section-8_right {

                    .big_box {

                        a {
                            padding: 10px;

                            .big_box_text {
                                padding: 0px 26px 22px;

                                .blue_text {
                                    font-size: 8px;
                                    line-height: 15px;
                                }
                                .caption {
                                    font-size: 30px;
                                    line-height: 38px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {

    .section-7 {

        .container {

            .top {
                padding: 105px 0 20px;
            }
        }
    }
}